{:main         "main"
 :aliases       [:build-config]
 :git-url      "https://github.com"
 :entrypoint   {:fn 'jibbit.core/raw-java-entrypoint}
 :base-image   {:image-name "gcr.io/distroless/java"
                :type       :registry}
 :target-image {:image-name "gcr.io/breezeehr.com/breeze-ehr/distroless-kafka-test"
                :authorizer {:fn 'jibbit.gcloud/authorizer}
                :type       :registry}}